<!DOCTYPE html>
<html>
<head>
    <title>Ma Collection de livres</title>
    <meta charset="utf-8">
    <base href="/"/>
    <link rel="stylesheet" href="css/pure-min.css" />
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header>
    <h1><a href="/">Ma collection de livres</a></h1>
</header>
<nav>
    <!-- Some menu later... maybe ? -->
    <ul class="pure-menu pure-menu-horizontal pure-menu-open">
        <li class="item"><a href="/">Liste des livres</a></li>
        <li class="item"><a href="/book/">Ajouter un livre</a></li>
    </ul>
</nav>

<div class="main-content">
    <section class="body">
        <%==this.body %>
    </section>
</div>
<footer>
    <div class="footer-text">
        Powered by <a href="https://github.com/naouak/book-collection" target="_blank">book-collection</a>.
    </div>
</footer>
</body>
</html>