<form action="/book/<%=data.isbn %>" method="post">
    <fieldset>
        <legend>Ajouter un livre</legend>
        <div class="input_field">
            <label for="book_isbn">ISBN/EAN13 :</label>
            <input type="text" name="isbn" id="book_isbn" placeholder="0000000000000" required pattern="\d{13}" value="<%=data.isbn %>" />
        </div>

        <div class="input_field">
            <label for="book_title">Titre :</label>
            <input type="text" name="title" id="book_title" value="<%=data.title %>"/>
        </div>

        <div class="input_field">
            <label for="book_volume">Numéro de volume :</label>
            <input type="text" name="volume" id="book_volume" value="<%=data.volume %>" />
        </div>

        <button><%=data.isbn?'Mettre à jour':'Ajouter' %></button>
    </fieldset>
</form>

<% if(data.isbn){ %>
<form action="/book/<%=data.isbn%>/image/" method="post" enctype="multipart/form-data">
    <input type="file" name="cover" id="cover"/>
    <button>Uploader</button>
</form>
<% } %>