<form action="/book/<%=data.isbn %>" method="post">
    <fieldset>
        <legend>Ajouter un livre</legend>
        <div class="input_field">
            <label for="book_isbn">ISBN/EAN13 :</label>
            <input type="text" name="isbn" id="book_isbn" placeholder="0000000000000" required pattern="\d{13}" value="<%=data.isbn %>" />
        </div>

        <div class="input_field">
            <label for="book_title">Titre :</label>
            <input type="text" name="title" id="book_title" value="<%=data.title %>"/>
        </div>

        <div class="input_field">
            <label for="book_volume">Numéro de volume :</label>
            <input type="text" name="volume" id="book_volume" value="<%=data.volume %>" />
        </div>

        <div class="input_field">
            <label for="book_publisher">Éditeur</label>
            <input type="text" name="publisher" id="book_publisher" value="<%=data.publisher %>"/>
        </div>

        <div class="input_field">
            <label for="book_status">Statut de lecture :</label>
            <select name="status" id="book_status">
                <option value="order" <%=data.status=="order"||data.status==undefined?"selected":"" %>>A commander</option>
                <option value="queue" <%=data.status=="queue"?"selected":"" %>>En attente de lecture</option>
                <option value="reading" <%=data.status=="reading"?"selected":"" %>>En cours de lecture</option>
                <option value="read" <%=data.status=="read"?"selected":"" %>>Lu</option>
                <option value="rereading" <%=data.status=="rereading"?"selected":"" %>>En cours de relecture</option>
            </select>
        </div>

        <button><%=data.isbn?'Mettre à jour':'Ajouter' %></button>
    </fieldset>
</form>

<% if(data.isbn){ %>
<form action="/book/<%=data.isbn%>/image/" method="post" enctype="multipart/form-data">
    <input type="file" name="cover" id="cover"/>
    <button>Uploader</button>
</form>
<% } %>